<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <!-- https://developer.mozilla.org/en-US/docs/Web/HTTP/CSP -->
  <meta http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'self'">
  <meta http-equiv="X-Content-Security-Policy" content="default-src 'self'; script-src 'self'">
  <title>About us</title>
  <link href="../css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="../js/bootstrap.min.js"></script>
  <script src="../js/jquery-3.4.1.min.js"></script>
  <script src="../css/login.css"></script>
</head>

<body>

  <!------ Include the above in your HEAD tag ---------->

  <h1>Giới thiệu</h1>
  <!--Pulling Awesome Font -->
  <link href="../css/font-awesome.min.css" rel="stylesheet">

</body>

</html>