<nav class="navbar navbar-expand-lg navbar-light navbar-laravel">
  <div class="container">
    <a class="navbar-brand" href="/projects">PROJECT REGISTRATION</a>
    <div  id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
          {{#nav navLink}}

          {{/nav}}
      </ul>

    </div>
  </div>
</nav>